@font-face {
	font-family: meta-pro-bold;
	src: url('chrome://mousecontrol/content/resources/styles/fonts/MetaProBold.otf');
}

@font-face {
	font-family: ttahoma;
	src: url('chrome://mousecontrol/content/resources/styles/fonts/tahoma.ttf');
}

body {
	font-family: ttahoma;
	font-size: 12px;
	color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: default;
}

#main_wrap {
	width: 50%;
	background-color: rgb(247, 247, 247);
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.298);
	padding: 10px 10px 0;
	z-index: 1;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: 42px;
	margin-bottom: 5px;
}

header .logo {
	font-family: meta-pro-bold;
	font-size: 42px;
	color: #696C71;
	letter-spacing: -2px;
}

header .icon {
	margin-bottom: 3px;
	margin-right: 5px;
}

header .version {
	/*
	vertical-align: baseline;
	margin-top: 12px;
	*/
	align-self: flex-end;
	line-height: 13px;
	font-size: 13px;
	margin-bottom: 7px;;
	margin-left: 7px;
}

header .page-name {
/*
	vertical-align: top;
	margin-left: 5px;
	margin-top: -20px;
	flex-shrink: 0;
*/
	font-size: 13px;
	font-weight: bold;
	align-self: flex-start;
	flex-grow: 1;
	text-align: right;
	line-height: 14px;
	margin-top: 4px;
}

/* button */
button:active {
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background-color: #eee;
  background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
  background-image: linear-gradient(top,#eee,#e0e0e0);
  border: 1px solid #ccc;
  color: #333;
  z-index: 2;
}

button:not(:active):hover {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border: 1px solid #999;

}

button {
	background-color: rgb(248, 248, 248);
	background-image: -moz-linear-gradient(center top,rgb(248, 248, 248),rgb(241, 241, 241));
	background-image: linear-gradient(center top,rgb(248, 248, 248),rgb(241, 241, 241));
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	border: 1px solid rgb(198, 198, 198);
	color: rgb(51, 51, 51);
	padding-bottom:2px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 16px;
	z-index: 0;
	position: relative;
}
/* button */
/* textfields */
input[type=text]{
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185);
	/*border-radius: 2px;*/
	height: 20px;
	position: relative;
	width: 5em;
	color: rgb(68, 68, 68);
	text-align: center;
	font-size: 12px;
	padding-bottom: 2px;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px rgba(0, 0, 0, 0.05);
}

textarea {
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185);
	/*border-radius: 2px;*/
	position: relative;
	/*font-family: tahoma;*/
	width: calc(100% - 4px);
	color: rgb(68, 68, 68);
	text-align: left;
	font-size: 12px;
	padding-bottom: 2px;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2) inset;
	resize: vertical;
	padding: 2px;
}
/* textfields */
/* start - modal dialog */
/* message wrapper */
/* on made visibile */
modal.modal-show {
	pointer-events: auto;
	opacity: 1;
}

modal.modal-show .modal-dialog{
	opacity: 1;
	margin-top: 0;
	pointer-events: auto;
}
/* */
modal {
	background-color: rgba(255, 255, 255, .85);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	opacity: 0;
	display: flex;
	pointer-events: none;
	transition: opacity 150ms ease-in;
}

.modal-dialog {
	background-color: rgb(247, 247, 247);
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 10px;
	margin-top: -20px; /*for transition anim*/
	opacity: 0;
	pointer-events: none;
	transition: margin-top 150ms ease-in, opacity 150ms ease-in;
	display: inline-block;
	width: 60%;
}

.modal-dialog .modal-row {
	margin-bottom: 3px;
	display: flex;
	align-items: center;
}

/*** the custom content of modal ***/
.msg-share span {
	width: 8em;
}
.msg-share input[type=text] {
	flex-grow: 1;
	text-align: right;
}

.msg-config span {
	width: 6em;
}

.msg-config input[type=text] {
	text-align: left;
}

.msg-config .msg-cust-name {
	width: 200px; /* match the width of the select box */
}

.msg-config .msg-cust-desc {
	flex-grow: 1;
}

.msg-body {
	padding: 0 10px;
	margin: 0;
	position: relative;
}

.msg-share .msg-header {
	background-image: url('chrome://mousecontrol/content/resources/images/network-tri.png');
	padding: 0 0 5px 0;
}	
.msg-trash .msg-header {
	background-image: url('chrome://mousecontrol/content/resources/images/trash.png');
	text-indent: 20px;
	padding: 0 0 4px 0;
}
.msg-config .msg-header {
	background-image: url('chrome://mousecontrol/content/resources/images/wrench.png');
	text-indent: 21px;
	padding: 0 0 5px 0;
}
.msg-create .msg-header {
	background-image: url('chrome://mousecontrol/content/resources/images/pencil.png');
	text-indent: 21px;
	padding: 0 0 5px 0;
}
.msg-header {
	background: transparent url('chrome://mousecontrol/content/resources/images/x.png') no-repeat 2px 1px;
	margin: 0 0 5px 0;
	font-weight: bold;
	padding: 0 0 4px 0;
	text-indent: 18px;
	border-bottom: 1px solid black;
}

.modal-dialog small {
	padding: 6px; /* for some reason padidng-top-bottom and margin-top-bottom are not having affect on small */
	white-space: nowrap;
}

.modal-dialog small + .modal-row {
	margin-top: 5px;
}

.msg-trash {
	width: 300px;
}

.msg-trash .modal-row {
	text-align: center;
	margin-top: 15px;
}

.modal-dialog .modal-row:last-of-type {
	padding-top: 6px;
	justify-content: space-around;
}

.modal-dialog button {
	margin-right: 10px;
	width: 50%;
	position: relative;
	text-indent: 16px;
}

.msg-config button {
	width: 30%;
	margin-right: -30%;
}

.modal-dialog .msg-ok:before,
.modal-dialog .msg-cancel:before {
	position:absolute;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -18px;
	margin-top: 1px;
	width: 16px;
	height: 16px;
	content: '';
}

.modal-dialog .msg-ok:before {
	background-image: url('chrome://mousecontrol/content/resources/images/check-thin.png');
	margin-top: 1px;
}

.msg-config .msg-ok:before {
	margin-top: 2px;
}

.modal-dialog .msg-cancel:before {
	background-image: url('chrome://mousecontrol/content/resources/images/x.png');
}

.modal-dialog button:last-of-type {
	margin-right: 0;
}

.modal-dialog hr {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #fff;
}

.modal-dialog textarea {
	margin-top: 4px;
}

.msg-config .combo-set-area:before {
	content: '';
}
.msg-config .combo-set-area {
	text-align: center;
	display; block;
	padding: 30px 0;
	border: 1px dashed #ddd;
}

.msg-config .combo-set-area span:not(:last-of-type)::after {
	content: ' > ';
	font-style: italic;
}

config-row > span:last-of-type span:not(:last-of-type)::after {
	content: ' > ';
	font-style: italic;
}
/*** the custom content of modal ***/
/* end - modal dialog */