<div class="pseudo-config trash-function" ng-click="BC.showModal('trash', {aConfig:aConfig})"/>
<div class="pseudo-config configure-function" ng-click="BC.showModal('config', {config_type:'edit', aConfig:aConfig})"/>
<div class="pseudo-config share-function" ng-click="BC.showModal('share', {aConfig:aConfig})"/>
<span>
	{{aConfig.name}}
	<small>
		{{aConfig.desc}}
	</small>
</span>
<span>
	<span ng-repeat="aMouseConfig in aConfig.config">
		{{aMouseConfig.multi > 1 ? aMouseConfig.multi + 'x ' : ''}}{{aMouseConfig.stdConst}}
	</span>
</span>