<div class="modal-dialog msg-{{BC.modal.type}}">
	<span ng-show="BC.modal.type == 'share'">
		<div class="msg-header">Share Configuration</div>
		<div class="msg-body">
			<small>Leave fields blank to share as anonymously</small>
			<div class="modal-row"><span>Your Name</span> <input type="text"/></div>
			<div class="modal-row">
				<button class="msg-ok" ng-click="BC.modalOkBtn()"><span></span>Share</button>
				<button class="msg-cancel" ng-click="BC.hideModal()"><span></span>Cancel</button>
			</div>
		</div>
	</span>
	<span ng-show="BC.modal.type == 'trash'">
		<div class="msg-header">Delete Configuration</div>
		<div class="msg-body">
			<div class="modal-row">Are you sure you want to delete "{{BC.modal.aConfig.name}}"? You will not be able to recover it.</div>
			<div class="modal-row">
				<button class="msg-ok" ng-click="BC.modalOkBtn()"><span></span>Confirm</button>
				<button class="msg-cancel" ng-click="BC.hideModal()"><span></span>Cancel</button>
			</div>
		</div>
	</span>
	<span ng-show="BC.modal.type == 'config'">
		<div class="msg-header">{{BC.modal.config_type == 'edit' ? 'Edit Configuration' : 'Create New Configuration'}}</div>
		<div class="msg-body">
			<div class="modal-row">
				<span>Group</span>
				<select ng-options="group for group in BC.building_groups" ng-model="BC.building.group" />
				<input type="text" placeholder="Enter name for new group here" ng-model="BC.building_newly_created_group_name" ng-show="BC.guiShouldShowNewGroupTxtBox()" />
			</div>
			<div class="modal-row"><span>Name</span> <input type="text" class="msg-cust-name" ng-model="BC.building.name" /></div>
			<div class="modal-row"><span>Description</span> <input type="text" class="msg-cust-desc" ng-model="BC.building.desc" /></div>
			<textarea rows="3" cols="100" ng-model="BC.building.fn" />
			<hr/>
			<small style="display:block; text-align:center; position:absolute; width:95%;">PLACE MOUSE HERE AND DO MOUSE COMBO</small>
			<div class="combo-set-area">
				<img src="mouse-left.png" /> + <img src="mouse-right.png"/>
			</div>
			<div class="modal-row">
				<button class="msg-ok" ng-click="BC.modalOkBtn()"><span></span>{{BC.modal.config_type == 'edit' ? 'Apply' : 'Add'}}</button>
				<button class="msg-cancel" ng-click="BC.hideModal()"><span></span>Cancel</button>
			</div>
		</div>
	</span>
</div>